;/********************************************************************************************************
;**--------------文件信息--------------------------------------------------------------------------------
;**文   件   名: mem_c.scf*
;**描        述: 片内FLASH分散加载文件，决定各个代码段和数据段的存储位置（用于产品）
;**              每个工程应当有独立的这个文件的拷贝，并进行相应的修改   
;********************************************************************************************************/

ROM_LOAD 0x00000000
{
    ROM_EXEC 0x00000000
    {
        Startup.o (vectors, +First)
        * (+RO)
    }

    IRAM 0x40000000
    {
        Startup.o (MyStacks)
        * (+RW,+ZI)
    }
    
    HEAP +0 UNINIT
    {
        Startup.o (Heap)
    }

    STACKS 0x40002000 UNINIT
    {
        Startup.o (Stacks)
    }
}

